@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900&display=swap");
/* font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif; */
$font: "Raleway", sans-serif;
$a-color: white;
$main-color: black;
@mixin main-color {
  text-decoration: none;
  font-family: $font;
  color: $main-color;
  font-weight: bold;
}
@mixin a-color($background-color: #ff6033) {
  display: inline-block;
  text-decoration: none;
  font-family: $font;
  color: $a-color;
  font-weight: lighter;
  font-size: 20px;
  text-transform: uppercase;
  background-color: $background-color; //#ff6033;
  padding: 20px;
  margin-top: 35px;
  box-shadow: 0 2px 5px grey;
}
body {
  margin: 0 0;
  width: 100%;

  p {
    font: lighter 17px/27px "Raleway", sans-serif;
  }
}

#home {
  height: 100vh;
  background-image: url(../images/img.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  @media screen and (max-width: 540px) {
    background-image: url(../images/img.max-width.jpg);
  }
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    height: 150px;
    align-items: center;
    span {
      font-family: "Pacifico", cursive;
      font-size: 50px;
      color: $main-color;
    }
    a {
      margin: 10px 25px;
      @include main-color;
      font-size: 16px;
      &:active {
        text-decoration: overline;
      }
      @media screen and (max-width: 1140px) {
        & {
          /*visibility: visible;*/
          display: none;
        }
      }
    }
  }
  section {
    p {
      width: 30%;
      @media screen and (min-width: 541px) and (max-width: 960px) {
        & {
          width: 45%;
        }
      }
      @media screen and (min-width: 351px) and (max-width: 540px) {
        & {
          width: 60%;
        }
      }
      @media screen and (max-width: 350px) {
        & {
          width: 100%;
        }
      }
    }

    margin: 5% 0 0 10%;
    h1 {
      font: 800 60px/50px "Raleway", sans-serif;
      letter-spacing: 0;
      color: $main-color;
    }
    a {
      @include a-color();
    }
  }
  div {
    position: absolute;
    top: 90%;
    left: 50%;
  }
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  position: absolute;
  right: 10%;
  width: 27px;
  height: 27px;
  display: inline-block;
  visibility: hidden;
  /*display: none;*/

  @media screen and (max-width: 1140px) {
    & {
      visibility: visible;
      /*display: inline-block;*/
    }
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 27px;
    background-color: $main-color;
    &:nth-child(2) {
      top: 9px;
    }
    &:nth-child(3) {
      top: 18px;
    }
  }
}
#about_us {
  display: flex;
  justify-content: space-between;
  background-color: #00baba;
  padding: 0 10%;
  /*height: 700px;*/
  flex-wrap: wrap;

  align-items: center;

  section,
  img {
    width: 45%;
    @media screen and (min-width: 651px) and (max-width: 960px) {
      & {
        width: 50%;
      }
    }
    @media screen and (max-width: 650px) {
      & {
        width: 100%;
      }
    }
  }
  h1 {
    font: 700 90px/70px "Raleway", sans-serif;
    letter-spacing: 0;
    color: $a-color;
    margin: 30px 0;
    @media screen and (min-width: 651px) and (max-width: 1140px) {
      & {
        font-size: 77px;
      }
    }
    @media screen and (max-width: 650px) {
      & {
        font-size: 70px;
      }
    }
  }
  p {
    color: $a-color;
  }
}
#our_services {
  display: flex;
  justify-content: space-between;
  background-color: #70bfff;
  padding: 10% 10% 10% 18%;

  flex-wrap: wrap-reverse;
  align-items: center;
  section {
    display: flex;
    flex-direction: column;
    .botton {
      display: flex;
      justify-content: space-between;
      height: 100px;
      width: 400px;
      margin-top: 35px;
      box-shadow: 0 2px 5px grey;
      background-color: #ffffff;
      @media screen and (min-width: 421px) and (max-width: 541px) {
        & {
          width: 300px;
          height: 80px;
        }
      }
      @media screen and (min-width: 351px) and (max-width: 420px) {
        & {
          width: 270px;
          height: 70px;
        }
      }
      @media screen and (max-width: 350px) {
        & {
          width: 230px;
          height: 70px;
        }
      }
    }
  }
}
.botton a {
  &.name {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: $font;
    color: $main-color;
    font-weight: bold;
    font-size: 20px;
    width: 70%;
  }
  &.icons {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
  }
}
#tomato {
  width: 50%;
  height: 540px;
  background-image: url(../images/tomato.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  @media screen and (max-width: 1111px) {
    height: 400px;
    width: 70%;
  }

  h1 {
    font: 600 90px/70px "Raleway", sans-serif;
    letter-spacing: 0;
    color: $a-color;
    margin: auto;
    text-align: center;
    @media screen and (min-width: 651px) and (max-width: 1110px) {
      & {
        font-size: 77px;
      }
    }
    @media screen and (min-width: 351px) and (max-width: 650px) {
      & {
        font-size: 70px;
      }
    }
    @media screen and (max-width: 350px) {
      & {
        font-size: 60px;
      }
    }
  }
}
